.container {
    /* position: relative; */
    /* text-align: center; */
    display: flex;
    margin: auto;


}
div{
    font-family: impact;
    color: white;
}
.image-size {
    flex: 1;
    width: 100%;
    z-index: -1;
}
.top-text{
    flex: 1;
    font-size: 5vw;
    padding-left: 8em;  
    position: absolute;
}

.bottom-text{
    flex: 1;
    font-size: 5vw;
    position: absolute;
    padding-top: 7em;
    padding-left: 8em;

    



}



